<h2>Add Player</h2>

<form method="POST" action="">
    <div class="add-input">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="">
    </div>
    <div class="add-input">
        <label for="sport">Sport</label>
        <input type="text" id="sport" name="sport" value="">
    </div>
    <div class="add-input">
        <label for="age">Age</label>
        <input type="number" id="age" name="age" value="">
    </div>
        <div class="add-input">
        <label for="bio">Biography</label>
        <input type="text" id="bio" name="bio" value="" style="height: 50px">
    </div>
    <input type="submit" value="Add">
</form>