<h2>Register</h2>

<form method="POST" action="register">
    <div class="email-register">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="">
    </div>
    <div class="user-register">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="">
    </div>
    <div class="pass-register">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" value="">
    </div>
    <input type="submit" value="Register">
</form>

<div class="register-login">
    <h3>Already registered? Login <a href="/login">here!</a></h3>
</div>