<h2>Register - Email Verification</h2>
<div>Enter the code sent to your email address.</div>

<form method="POST" action="verify-email">
    <div class="verify-email">
        <input type="text" id="verification" name="verification" value="">
    </div>
    <input type="Submit" value="Submit">
</form>