.lists {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.list {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.list li {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    text-align: left;
    cursor: pointer;
}

.add {
    padding: 10px;
}

.add-input {
    padding: 10px;
}

.remove-input {
    padding: 10px;
}

.remove-modal {
	display: none;
    position:  fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    vertical-align: top;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%; 
    text-align: center;
}

.user-login {
    padding: 10px;
}

.pass-login {
    padding: 10px;
}

.email-register {
    padding: 10px;
}

.user-register {
    padding: 10px;
}

.pass-register {
    padding: 10px;
}

.verify-email {
    padding: 10px;
}

.error {
    color: darkred;
    padding: 10px;
}

.player-container {
    display: flex;
}


.news-title {
    display: inline-block;
    padding: 10px;
}

.add-news-modal {
	display: none;
    position:  fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.news-info {
    padding: 10px;
}